<web-app>

	<servlet>
		<servlet-name>HomePage</servlet-name>
		<jsp-file>/JSP/home.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>HomePage</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ThreadPage</servlet-name>
		<jsp-file>/JSP/thread.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>ThreadPage</servlet-name>
		<url-pattern>/thread</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>HomePageServlet</servlet-name>
		<servlet-class>HomePageServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HomePageServlet</servlet-name>
		<url-pattern>/homePageServlet</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>home</welcome-file>
	</welcome-file-list>

</web-app>
